body {
    background: #333333;
    text-align: center;
}

.wrapper {
    background: #FFFFFF;
    padding: 20px;
    margin: 50px 0px;
    text-align: center;
    display: inline-block;
}

.connect4-disk {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: #000000;
    position: absolute;
}

.connect4-disk.connect4-disk-red {
    background-color: #FF0000;
}

.connect4-disk.connect4-disk-yellow {
    background-color: #FFFF00;
}

#connect4block {
    position: relative;
    font-size: 0px;
    display: inline-block;
}

#connect4block .connect4gameover {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    padding: 160px 20px;
    z-index: 20;
    background: url("../img/transparent-bg-white.png");
}

#connect4block .connect4block-top {
    position: relative;
    width: 500px;
    height: 80px;
    padding: 5px;
    display: inline-block;
}

#connect4block .connect4block-top .connect4-top-disk-col {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 5px;
}

#connect4block .connect4block-board {
    position: relative;
}

#connect4block .connect4block-board .connect4block-board-bg {
    position: absolute;
    z-index: 5;
    display: inline-block;
    left: 0px;
    top: 0px;
}

#connect4block .connect4block-board .connect4block-board-container {
    width: 500px;
    padding: 5px;
    position: relative;
    z-index: 10;
}

#connect4block .connect4block-board .connect4block-board-container .connect4block-board-row {
    display: inline-block;
}

#connect4block .connect4block-board .connect4block-board-container .connect4block-board-row .connect4block-board-col {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 5px;
}

#connect4block .connect4block-disks .connect4-disk {
    z-index: 1;
}