<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <title>Connect 4</title>
    </head>
    <body>
        <div class="container" ng-app="connect4App">
            <h1>Connect 4</h1>

            <div ng-controller="Connect4Controller">
                <div id="connect4block">
                    <div class="connect4-disk d-none"></div>
                    <div class="connect4block-board">
                        <div class="connect4block-board-row" ng-repeat="boardRow in board">
                            <div class="connect4block-board-disk" ng-repeat="boardItem in boardRow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script type="text/javascript">
            //<![CDATA[
            var connect4App = angular.module('connect4App', []);

            connect4App.controller('Connect4Controller', function Connect4Controller($scope, $parse, $http) {
                $scope.board_info = {
                    row: 6,
                    col: 7
                };
                $scope.board = [];
                $scope.initBoard = function() {
                    for (i = 0; i < $scope.board_info.row; i++) {
                        if($scope.board[i] == undefined) {
                            $scope.board[i] = [];
                        }

                        for (j = 0; j < $scope.board_info.col; j++) {
                            if($scope.board[i][j] == undefined) {
                                $scope.board[i][j] = {};
                            }

                            $scope.board[i][j] = {
                                row: i,
                                col: j
                            };
                        }
                    }

                    console.log($scope.board);
                }

                $scope.initBoard();

                jQuery(function(){

                });
            });
            //]]>
        </script>
    </body>
</html>