<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <title>Connect 4</title>
    </head>
    <body>
        <div class="container" ng-app="connect4App">
            <h1>Connect 4</h1>

            <div ng-controller="Connect4Controller">
                <div id="connect4block">
                    <div id="connect4block-top" class="connect4block-top">
                        <div id="connect4block-top-disk" class="connect4-disk"></div>
                        <div id="connect4-top-disk-col-{{i}}" class="connect4-top-disk-col" ng-repeat="i in [0,1,2,3,4,5,6]" data-col="{{i}}"></div>
                    </div>
                    <div class="connect4block-board">
                        <img id="connect4block-board-bg" src="img/background.png" />
                        <div class="connect4block-board-container">
                            <div class="connect4block-board-row" ng-repeat="boardRow in board">
                                <div id="connect4block-board-cell-{{boardCol.row}}-{{boardCol.col}}" class="connect4block-board-col" ng-repeat="boardCol in boardRow" data-row="{{boardCol.row}}" data-col="{{boardCol.col}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="js/script.js"></script>
    </body>
</html>